#ifndef OFIXED_CONSTANTS_H
#define OFIXED_CONSTANTS_H

#define OFIXED_LN_NORMALIZE_INT_BITS NORMALIZE_INT_BITS_TEMPLATEll
#define OFIXED_LN_INPUT_PRECISION INPUT_PRECISION_TEMPLATEll
#define OFIXED_LN_OUTPUT_PRECISION OUTPUT_PRECISION_TEMPLATEll

char ofixed_ln_normalize_factors[] = NORMALIZE_FACTORS_TEMPLATE;

char ofixed_ln_log_components[] = LOG_COMPONENTS_TEMPLATE;

#endif